<h2 id="crossreference" class="list">Cross reference for HTML Table Ontology classes, properties and dataproperties <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
This section provides details for each class and property defined by HTML Table Ontology.
<div xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="classes">
   <h3 id="classes-headline" class="list">Classes</h3>
   <ul class="hlist">
      <li>
         <a href="#ColspanCell"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/ColspanCell">A basic html colspan cell</a>
      </li>
      <li>
         <a href="#Table"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Table">A basic html table</a>
      </li>
      <li>
         <a href="#TableBody"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/TableBody">A basic html tablehead</a>
      </li>
      <li>
         <a href="#Tablehead"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Tablehead">A basic html tablehead</a>
      </li>
      <li>
         <a href="#TableheadCell"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/TableheadCell">A basic html tablehead cell</a>
      </li>
      <li>
         <a href="#Cell"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Cell">A HTML td element (cell)</a>
      </li>
      <li>
         <a href="#StyledTable"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/StyledTable">A styled html table</a>
      </li>
      <li>
         <a href="#StrongCell"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/StrongCell">An html cell with strong tag</a>
      </li>
      <li>
         <a href="#Caption"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Caption">
            <span>caption</span>
         </a>
      </li>
      <li>
         <a href="#Row"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Row">Html row</a>
      </li>
   </ul>
   <div class="entity" id="ColspanCell">
      <h3>A basic html colspan cell<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/ColspanCell</p>
      <div class="comment">
         <span class="markdown">Html template for a column span cell with a colspan variable that specifies the number of columns a cell should span.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#Cell"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Cell">A HTML td element (cell)</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Table">
      <h3>A basic html table<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Table</p>
      <div class="comment">
         <span class="markdown">Html template for a basic html table with a variable in which html rows can be inserted.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/Component"
               target="_blank"
               title="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/Component">component</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>has sub-classes</dt>
         <dd>
            <a href="#TableBody"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/TableBody">A basic html tablehead</a>
            <sup class="type-c" title="class">c</sup>, <a href="#Tablehead"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Tablehead">A basic html tablehead</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="TableBody">
      <h3>A basic html tablehead<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/TableBody</p>
      <div class="comment">
         <span class="markdown">Html template for a basic html tablehead with a variable in which html cells can be inserted.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#Table"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Table">A basic html table</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Tablehead">
      <h3>A basic html tablehead<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Tablehead</p>
      <div class="comment">
         <span class="markdown">Html template for a basic html tablehead with a variable in which html cells can be inserted.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#Table"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Table">A basic html table</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="TableheadCell">
      <h3>A basic html tablehead cell<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/TableheadCell</p>
      <div class="comment">
         <span class="markdown">Html template for a basic html tablehead cell with a variable in which html values can be inserted.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#Cell"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Cell">A HTML td element (cell)</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Cell">
      <h3>A HTML td element (cell)<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Cell</p>
      <div class="comment">
         <span class="markdown">Html template for a basic html cell with a variable in which a value can be inserted.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/Component"
               target="_blank"
               title="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/Component">component</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>has sub-classes</dt>
         <dd>
            <a href="#ColspanCell"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/ColspanCell">A basic html colspan cell</a>
            <sup class="type-c" title="class">c</sup>, <a href="#TableheadCell"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/TableheadCell">A basic html tablehead cell</a>
            <sup class="type-c" title="class">c</sup>, <a href="#StrongCell"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/StrongCell">An html cell with strong tag</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="StyledTable">
      <h3>A styled html table<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/StyledTable</p>
      <div class="comment">
         <span class="markdown">Html template for a div with as class 'container' with a variable in which html components can be inserted to produce a styled table.</span>
      </div>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/DivContainer"
               target="_blank"
               title="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/DivContainer">div container</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="StrongCell">
      <h3>An html cell with strong tag<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/StrongCell</p>
      <div class="comment">
         <span class="markdown">Html template for a strong tag with a variable that specifies the value in which html cells can be inserted.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#Cell"
               title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Cell">A HTML td element (cell)</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Caption">
      <h3>caption<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Caption</p>
      <div class="comment">
         <span class="markdown">Html template for a basic html caption with variables in which values can be inserted.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/Component"
               target="_blank"
               title="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/Component">component</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Row">
      <h3>Html row<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Row</p>
      <div class="comment">
         <span class="markdown">Html template for a basic html row with a variable in which html cells can be inserted.</span>
      </div>
      <dl class="definedBy">
         <dt>Source</dt>
         <dd/>
      </dl>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/Component"
               target="_blank"
               title="https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def/Component">component</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
</div><div xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="namedindividuals">
   <h3 id="namedindividuals" class="list">Named Individuals</h3>
   <ul class="hlist">
      <li>
         <a href="#"
            title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/">
            <span></span>
         </a>
      </li>
   </ul>
   <div class="entity" id="">
      <h3>:<sup class="type-ni" title="named individual">ni</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#namedindividuals">Named Individual ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/</p>
      <dl class="description">
         <dt>belongs to</dt>
         <dd>
            <a href="http://rdfs.org/ns/void#Dataset"
               target="_blank"
               title="http://rdfs.org/ns/void#Dataset">dataset</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dd>
            <a href="http://www.w3.org/ns/sparql-service-descriptionGraph"
               target="_blank"
               title="http://www.w3.org/ns/sparql-service-descriptionGraph">sparql service description graph</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
</div><div id="legend">
<h2>Legend <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<div   class="entity">
<sup class="type-c" title="Classes">c</sup>: Classes <br/>
<sup class="type-op" title="Object Properties">op</sup>: Object Properties <br/>
<sup class="type-dp" title="Data Properties">dp</sup>: Data Properties <br/>
<sup class="type-ni" title="Named Individuals">ni</sup>: Named Individuals
</div>
</div>
