<h2 id="intro" class="list">Introduction <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
This is a place holder text for the introduction. The introduction should briefly describe the ontology, its motivation, state of the art and goals.</span>
<div id="namespacedeclarations">
<h3 id="ns" class="list">Namespace declarations</h3>
<div id="ns" align="center">
<table>
<caption> <a href="#ns"> Table 1</a>: Namespaces used in the document </caption>
<tbody>
<tr><td><b>htv</b></td><td>&lt;https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/&gt;</td></tr>
<tr><td><b>schema</b></td><td>&lt;http://schema.org&gt;</td></tr>
<tr><td><b>void</b></td><td>&lt;http://rdfs.org/ns/void&gt;</td></tr>
<tr><td><b>ns</b></td><td>&lt;http://www.w3.org/ns&gt;</td></tr>
<tr><td><b>owl</b></td><td>&lt;http://www.w3.org/2002/07/owl&gt;</td></tr>
<tr><td><b>xsd</b></td><td>&lt;http://www.w3.org/2001/XMLSchema&gt;</td></tr>
<tr><td><b>rdfs</b></td><td>&lt;http://www.w3.org/2000/01/rdf-schema&gt;</td></tr>
<tr><td><b>htv</b></td><td>&lt;https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def&gt;</td></tr>
<tr><td><b>hov</b></td><td>&lt;https://data.rijksfinancien.nl/HTML-object-vocabulary/model/def&gt;</td></tr>
<tr><td><b>graph</b></td><td>&lt;https://data.rijksfinancien.nl/HTML-table-vocabulary/graph&gt;</td></tr>
<tr><td><b>sd</b></td><td>&lt;http://www.w3.org/ns/sparql-service-description&gt;</td></tr>
<tr><td><b>dct</b></td><td>&lt;http://purl.org/dc/terms&gt;</td></tr>
<tr><td><b>rdf</b></td><td>&lt;http://www.w3.org/1999/02/22-rdf-syntax-ns&gt;</td></tr>
<tr><td><b>xml</b></td><td>&lt;http://www.w3.org/XML/1998/namespace&gt;</td></tr>
<tr><td><b>vann</b></td><td>&lt;http://purl.org/vocab/vann&gt;</td></tr>
<tr><td><b>overheid</b></td><td>&lt;http://standaarden.overheid.nl/owms/terms&gt;</td></tr>
<tr><td><b>sdo</b></td><td>&lt;https://schema.org&gt;</td></tr>
</tbody>
</table>
</div>
</div>
