<h2 id="overv" class="list">HTML Table Ontology: Overview <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
This ontology has the following classes and properties.</span>
<h4>Classes</h4>
<ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#ColspanCell"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/ColspanCell">A basic html colspan cell</a>
   </li>
   <li>
      <a href="#Table"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Table">A basic html table</a>
   </li>
   <li>
      <a href="#TableBody"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/TableBody">A basic html tablehead</a>
   </li>
   <li>
      <a href="#Tablehead"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Tablehead">A basic html tablehead</a>
   </li>
   <li>
      <a href="#TableheadCell"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/TableheadCell">A basic html tablehead cell</a>
   </li>
   <li>
      <a href="#Cell"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Cell">A HTML td element (cell)</a>
   </li>
   <li>
      <a href="#StyledTable"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/StyledTable">A styled html table</a>
   </li>
   <li>
      <a href="#StrongCell"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/StrongCell">An html cell with strong tag</a>
   </li>
   <li>
      <a href="#Caption"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Caption">
         <span>caption</span>
      </a>
   </li>
   <li>
      <a href="#Row"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/Row">Html row</a>
   </li>
</ul><h4>Named Individuals</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#"
         title="https://data.rijksfinancien.nl/HTML-table-vocabulary/model/def/">
         <span></span>
      </a>
   </li>
</ul><iframe align="center" width="100%" height ="500px" src="webvowl/index.html"></iframe> 
